.title {
  height: 100px;
  width: 620px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: rgba(71, 68, 68, 0.849);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}
