/* .app-container {
  height: 100vh;
  width: 100vw;
  background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1592666582/locksBackground.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(168, 161, 161, 0.171);
  text-align: center;
  align-content: center;
  justify-content: center;
  border: solid green 3px;
  top: 50%;
  left: 50%;
} */
.title {
  height: 100px;
  width: 620px;
  border: solid 1.5px rgb(35, 99, 236);
  background-color: rgba(139, 135, 135, 0.637);
  z-index: 5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  opacity: 1;
  z-index: 100;
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.app-container {
  position: relative;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* You could use :after - it doesn't really matter */
.app-container:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1592666582/locksBackground.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
